@charset "UTF-8";
/* CSS Document */
.page_1366{}
.page_1366 .page_1240 .index-con{ width:95%; margin:0 auto;}
.page_1366 .sign_l .mark_wenhao{margin:18px 20px 0 0;}
.page_1366 .logo{margin-top:70px;}
.page_1366 .sign_l .title_1{margin-top:132px;}
.page_1366 .sign_l .sign_form{margin-top:85px;}
.page_1366 .sign_l .sign_form .input_text2{margin-top:20px;}
.page_1366 .sign_l .sign_form .button_p{margin-top:20px;}
.page_1366 .footer{position:absolute; bottom:15px; left:7.566%;}
.page_1366 .header .logo_yy{margin-top:13px;}


